/* SLONCE */

@-webkit-keyframes backgroundAnimation {
	0% { 	background-position: left top; background-color: #0D1921;}
	15% { 	background-color: #0D1921;}
	20% { 	background-color: #8CC3D4;}
	80% { 	background-color: #8CC3D4;}
	85% { 	background-color: #0D1921;}
	100% { 	background-position: right bottom; background-color: #0D1921;}
}

@-webkit-keyframes clockAnimation {
	0% { 	top: -460px;}
	100% { 	top: 0px;}
}

html, body, #labels { height: 100%; width: 100%;}
a { color:white; text-decoration:none; }
body {
	font-family: "Noto Sans";
	background: hsl(216, 70%, 26%) url(background.png);
}

/* Animations */

#screen hr	{ 
	-webkit-animation: clockAnimation 		linear 12s infinite; 
	animation: clockAnimation 		linear 12s infinite; 
}
#screen {
	-webkit-animation: colorsAnimation		linear 60s infinite; 
	animation: colorsAnimation		linear 60s infinite; 
}


