#footer{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 100%;
	heeight: 124px;
	background: #EEE url(img/owlBlack.png);
	background-size:76px;
	background-repeat:no-repeat;
	background-position:top;
	margin-top: 76px;
	padding: 15px;
	padding-top:124px;
	border-top: 47px solid #EEE;
	display: none;
}

#header{
	width: 124px;
	height: 200px;
	background: red url(img/owlBlack.png);
	background-size:124px;
	background-repeat:no-repeat;
	background-position:center;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -62px;
	border-top: 47px solid black;
}

#header:hover{
	-webkit-transform:rotate(-5deg);
}

#header:after{
background: green;
	-webkit-transform:rotate(5deg);
	text-align:center;
	display:block;
	content:"blog zmartwionej sowy";
	width: 324px;
	position:absolute;
	left: 50%;
	margin-left: -162px;
	font-variant:small-caps;
	font-weight: 900;
	font-size: 1.5em;
	line-height: 1.5em;
}

@media screen and (max-width: 544px) {

}