@import url(fontface.csss);

/* Zerowanie marginesów */
* {
	padding:0;
	margin:0;
}

html {
	font-family: 'Lato';
	background: #B163A3;
	color: #D385C5;
	color: #E496D6;
	coloor: #F5A7E7;
}

nav {
	position:fixed;
	top:0;
	width:100%;
	color: #B163A3;
	background: #D385C5;
	z-index:100;
}

.header{
	list-style: none;
	font-weight:400;
	padding: 32px 0;
    -webkit-transition:1s;
}
.header_small{
padding:8px 0;
}

.logocontainer {
float:left;
padding:0;
border:0;
}

.logocontainer:hover{border:0;}

.logo {
    -webkit-transition:1s;
	position:fixed;
	top:0px;
	margin:0;
	float:left;
	padding:2px;
	border:0;
}

.logo_small {
	background:#B163A3;
	top:8px;
	border-radius:8px;
	border-bottom: 8px solid #D385C5;
}

nav a {
	text-decoration:none;
	color: #B163A3;
	display:block;
	float:right;
	border: 2px solid #D385C5;
	height:32px;
	line-height:32px;
	border-radius:16px;
	padding: 0 10px;
	margin: 0 12px;
	font-size:1.25em;
  -webkit-transition:.125s;
}


nav a:hover{
	border: 2px solid #B163A3;
}

nav a.active {
	color: white;
	border-color:white;
}

.container {
	width:928px;
	margin:auto;
}

.one, .two, .three, .four, .full {
	float:left;
	min-height:1px;
}

.one 	{width:160px;}
.two	{width:352px;}
.three	{width:544px;}
.four	{width:736px;}
.full	{width:100%;}

.sep {
	min-height:1px;
	float:left;
	width:32px;
}

hr {
	clear:both;
	display:block;
	border:none;
}

#who{
	padding:128px 0 64px 0;
	background: #A05292 url(owl_bg.png) 100% 50%;
	background-repeat:no-repeat;
	baackground: #904181;
	height: 352px;
}


#where, #what, #how{ padding:128px 0;}

#who p{
font-style: italic;
line-height: 1.4em;
font-size: 1.14em;
	font-weight:300;
	text-align:left;
}


.headline{
padding:1em 0;
	font-size:4em;
	font-weight:400;
	color:white;
}

h1.subline {
	font-size:3.5em;
}

h2.subline {
padding:0;
	padding-top:2em;
	font-size:2em;
	text-indent:0;

	color: #E496D6;
}

.techno {
border-radius:8px;
margin: 16px 0;
overflow:hidden;
	background: #D385C5;

}

.techni {
	color: #B163A3;
float:left;
width:272px;
height:128px;
overflow:hidden;
}

.techni .techniname{
float:left;
width:240px;
height:96px;
padding:16px;
position:relative;
left:72px;
-webkit-transition:.5s;
}

.techni .technidesc{
border-left:4px solid white;
font-size:12px;
line-height:14px;
font-weight:400;
font-style:italic;
float:left;
display:block;
float:left;
position:relative;
width:120px;
height:72px;
margin-top:32px;
padding:0 0 0 16px;
top:0;
top:-128px;
left:272px;
lefst:120px;
-webkit-transition:.5s;
	background: #D385C5;
	color:white;
	opacity:0;
}

.techni:hover .technidesc{
left:120px;
opacity:1;
}

.techni:hover .techniname{
left:-4px;
}

.subline{
	text-align:left;
	font-size:3.5em;
	font-weight:300;
	font-style:italic;
	color:white;
	padding:16px 0 0px 0;
	padding-left:10px;
}

.block{
text-align:left;
padding: 32px 0;
	padding-left:10px;
font-size:1.14em;
font-weight:300;
line-height:1.4em;
}

.right{
	text-align:right;
}

.block a{
	font-style:italic;
	text-decoration:none;
	border-bottom: 1px solid;
	color: #E496D6;
	-webkit-transition:.25s;
}

.block a:hover{
	color: #F5A7E7;
	padding-bottom:2px;
}

.headline span{
	font-weight:200;
	color: #D385C5;
	font-size:.5em;
	etext-shadow: black 0.1em 0.1em .5em;
}


img.person {
border-radius:80px;
}

div.person {
text-align:center;
}

div.person h1{
	font-style:italic;
	font-weight:300;
	color:white;
	padding:10px 0;
	margin:10px 0;
	border-bottom: 2px solid white;

}

div.person h2{
text-align:left;
font-size: 1em;
font-weight:300;
}

#iPhone {
margin:auto;
width: 400px;
height: 820px;
background: url(port_ios.png) center no-repeat;
}



.red{background:red; color:yellow;}

.green{background:green;}



footer a{
	color:#333;
	text-decoration:none;
	font-style:italic;
	border-bottom:1px solid;
}

footer a:hover{
	color:#444;
}

footer{
	font-size:14px;
	line-height:1.5em;
	text-align:center;
	padding:64px;
	font-weight:200;
	color:#333;
	background:#111;
}

footer span{
	color:#611;
}






figure.caption {
	float:right;
	display:block;
	margin:0;
	margin: 0 0 10px 10px;
  overflow:hidden;
  border-radius:8px;
}


figure.caption.big{
	height: 320px;
	width: 726px;
}

figure.caption.medium{
	height: 330px;
	width: 358px;
}

figure.caption.small{
	height: 160px;
	width: 358px;
}

figure.caption figcaption{
	position:relative;
	-webkit-transition:1s;
	float:left;
	background: #A05292;
	color:#D385C5;
}

figure.caption.big figcaption{
	width: 288px;
	height: 288px;
	margin-left:726px;
	top:-320px;
	padding: 16px;
}

figure.caption.medium figcaption{
	width: 147px;
	height: 298px;
	margin-left:358px;
	top:-330px;
	padding: 16px;
}

figure.caption.small figcaption{
	width: 144px;
	height: 144px;
	margin-left:358px;
	top:-160px;
	padding: 8px;
}

figure.caption img.cover{
	-webkit-transition:1s;
	position:relative;
	float:left;
}

figure.caption.big:hover figcaption{
	margin-left:406px;
}

figure.caption.medium:hover figcaption{
	margin-left:179px;
}

figure.caption.small:hover figcaption{
	margin-left:198px;
}

figure.caption.big:hover img.cover{
	left:-160px;
}

figure.caption.medium:hover img.cover{
	left:-90px;
}

figure.caption.small:hover img.cover{
	left:-80px;
}

.big > figcaption > h3 {
	line-height: 2.5em;
	font-size: 2em;
	color: white;
	font-weight:700;
}

.big > figcaption > p {
	padding-bottom: 1em;
	font-size: 1.1em;
	font-weight: 300;
}
.behance-big {
	position: relative;
	display: block;
	float: right;
	width: 32px;
	height: 32px;
	margin-top: 80px;
}
.medium > figcaption > h3 {
	line-height: 2.75em;
	font-size: 1.75em;
	color: white;
	font-weight:700;
}

.medium > figcaption > p {
	padding-bottom: 0.8em;
	font-size: 0.9em;
	font-weight: 300;
}
.behance-medium {
	position: relative;
	display: block;
	float: right;
	width: 32px;
	height: 32px;
	margin-top: 90px;
}

.small > figcaption > h3 {
	line-height: 2em;
	font-size: 1.25em;
	color: white;
	font-weight:700;
}

.small > figcaption > p {
	font-size: 0.9em;
	font-weight: 300;
}
.behance-small {
	position: relative;
	display: block;
	float: right;
	width: 32px;
	height: 32px;
	margin-top: 25px;
}
.wip-big {
	position: relative;
	display: block;
	float: right;
	margin-top: 70px;
	font-size: 1.1em;
	color: white;
}
.behance-small-baltyk {
	position: relative;
	display: block;
	float: right;
	width: 32px;
	height: 32px;
	margin-top: 40px;
}
