@import url(fontface.csss);
/* Zerowanie marginesów */
* {
	padding:0;
	margin:0;
}

html {
	font-family: 'Lato';
	background: #B163A3;
	color: #D385C5;
	color: #E496D6;
	coloor: #F5A7E7;
	margin-top:96px;
}

nav {
position:fixed;
top:0;
width:100%;
	color: #B163A3;
	background: #D385C5;
}

nav a {
	color: #B163A3;
}

nav ul{
	list-style: none;
	height:96px;
	font-weight:400;
	padding: 4px 0;
}

nav ul li {
	display:block;
	float:right;
	border: 2px solid #D385C5;
	height:32px;
	line-height:32px;
	border-radius:16px;
	padding: 0 10px;
	margin: 28px 12px;
	font-size:1.25em;
}

#logo {
	margin:0;
	float:left;
	padding:0;
	height:64px;
	border:0;
}

nav ul li:hover{
	border: 2px solid #B163A3;
}

nav ul li.active {
	color: white;
	border-color:white;
}

.container {
	width:928px;
	margin:auto;
}

.one, .two, .three, .four, .full {
	float:left;
	min-height:1px;
}

.one 	{width:160px;}
.two	{width:352px;}
.three	{width:544px;}
.four	{width:736px;}
.full	{width:100%;}

.sep {
	min-height:1px;
	float:left;
	width:32px;
}

hr {
	clear:both;
	display:block;
	border:none;
}

#who{
padding:3em 0;
	background: #A05292 url(owl_bg.png) 100% 40%;
	background-repeat:no-repeat;
	baackground: #904181;
}

#what{
padding:5em 0;
}

#who p{
font-style: italic;
line-height: 1.4em;
font-size: 1.14em;
	font-weight:300;
	text-align:left;
}

.headline{
padding:1em 0;
	font-size:4em;
	font-weight:400;
	color:white;
}

.headline span{
	font-weight:200;
	color: #D385C5;
	font-size:.5em;
	etext-shadow: black 0.1em 0.1em .5em;
}

.red{background:red;}

.green{background:green;}

img.person {
border-radius:80px;
}

div.person {
text-align:center;
}

div.person h1{
width:80%;
margin:1em auto;
padding:1em auto;
	border-top: 4px solid white;
	color:white;
	font-weight:600;
	font-variant:small-caps;
}

div.person h2{
text-align:left;
font-size: 1em;
font-weight:300;
}

#iPhone {
margin:auto;
width: 400px;
height: 820px;
background: url(port_ios.png) center no-repeat;
}












