---
---
<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<title>Blog Zmartwionej Sowy</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="shortcut icon" href="/favicon.ico">
	<script type="text/javascript" async src="http://assets.pinterest.com/js/pinit.js"></script>
</head>
<body>
	<a href="/blog/"><div id="header"></div></a>
	{{content}}
</body>
</html>